body {
  text-align: center;
  background-color: #d9e3ec;
}

img {
  width: 580px;
}
video {
  width: 580px;
}
.block_wrap{
  display: flex;
  justify-content: space-between;
  border: 1px solid silver;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
 background-color: #f7f9fb;
 margin-bottom: 5px;
}
.img_vide_wrapp{
  width: 650px;
  background-color: white;
 
}
.title {
 font-size: 18px;
 font-family: Arial, Helvetica, sans-serif;
 margin-bottom: 10px;
 margin-top: 10px;
}
a {
  text-decoration: none;
  
}
a {
  color: #014980;
}
a:visited {
 color : #8cadc5;
}
a.modderlink {
  color : #44a656;
}
a.modderlink:visited {
  color: #b0d9b8
}
